.footer {
    display: flex;
    justify-content: center;
}

.footer-fundo {
    background-color: #6278F7;
    background-image: url('/public/img/fundo.png');
}

.footer div, p {
    margin: 75px 160px;
}

.icones-footer {
    display: flex;
    gap: 32px;
}

.footer-texto {
    color: white;
    font-size: 20px;
}